<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988648527024-acscb1vnoi01iknajibaosdkod7hf6ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988648527024-acscb1vnoi01iknajibaosdkod7hf6ud</string>
	<key>API_KEY</key>
	<string>AIzaSyBuSYnLVmDWkyhxUynozNmYSMa1rD-GyXI</string>
	<key>GCM_SENDER_ID</key>
	<string>988648527024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harafuchi.RandomChoiceApp</string>
	<key>PROJECT_ID</key>
	<string>randomchoiceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>randomchoiceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988648527024:ios:db0febcf430eb8ca541775</string>
	<key>DATABASE_URL</key>
	<string>https://randomchoiceapp.firebaseio.com</string>
</dict>
</plist>